<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%> <!-- Including head partial -->
  </head>
  <body>
    <%- include('./partials/navmenu') -%>

<!-- CREATED 4/20/24 !!!!-->
<H1> USER LIST HERE</H1>
<div class="table-responsive">
<table class="table table-hover">
<tr>
    <th> Title </th>
    <th> Opportunity ID </th>
    <th> Views </th>
</tr>
<%for (var result in opportunities){%>
    <tr>
        <td> <%= opportunities[result].title %> </td>

        <td> 
            <a href="/getopportunities/<%= opportunities[result].opportunity_id %>">
            <%= opportunities[result].opportunity_id %> 
            </a>
        </td>
        <td> <%= opportunities[result].views %> </td>





    </tr>

<%}%> <!-- to close out for loop-->


</table>
</div>
<!-- WORKING WAY OF STORING PAGINATION -->
<% for (var startvalue=0; startvalue<opportunityCount; startvalue+=100 ) { %>
    <a href="/getopportunities/start=<%= startvalue %>"> <%= startvalue/100+1 %> </a>
<% } %>





    <%- include('./partials/footer') -%>
</body>
</html>