<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%> <!-- Including head partial -->
  </head>
  <body>
    <%- include('./partials/navmenu') -%>

<!-- INSERT ACTUAL PAGE CONTENT HERE!!!!-->
<H1> USER LIST HERE</H1>
<div class="table-responsive">
<table class="table table-hover">
<tr>
    <th> Username </th>
    <th> Email </th>
    <th> Type </th>
    <th> Views </th>
</tr>
<%for (var result in users){%>
    <tr>

        <!-- Edit 3/23, adding hyperlink to username -->
        <td> 
            <a href="/getusers/<%= users[result].username %>">
            <%= users[result].username %> 
            </a>
        </td>



        <td> <%= users[result].email %> </td>
        <td> <%= users[result].type %> </td>
        <td> <%= users[result].views %> </td>
    </tr>

<%}%> <!-- to close out for loop-->


</table>
</div>
User Count: <%= userCount %>


<!-- WORKING WAY OF STORING PAGINATION -->
<% for (var startvalue=0; startvalue<userCount; startvalue+=100 ) { %>
    <a href="/getusers/start=<%= startvalue %>"><%= startvalue/100+1 %></a>
    &nbsp;
<% } %>

    <%- include('./partials/footer') -%>
</body>
</html>