<head>
    <%- include('./partials/head') -%> <!-- Including head partial -->
</head>
<body>
<%- include('./partials/navmenu') -%>

<h1> Opportunity </h1>
<h2> Title: <%= opptitle %> </h2>
<h2> Views: <%= views %> </h2>
<p> Contents: <%- contents %> </p>

<%- include('./partials/footer') -%>
</body>